<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#222222">
  <link rel="manifest" href="manifest.json">
  <base href="/">
  <title>Judo Heroes - A Universal JavaScript demo application with React</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="main"><%- markup -%></div>
  <!-- <script async src="/js/vendor.bundle.js"></script> -->
  <script async src="/js/bundle.js"></script>
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('./service-worker.js', {
        scope: './'
      })
        .then(function (registration) {
          registration.onupdatefound = function () {
            if (navigator.serviceWorker.controller) {
              var installingWorker = registration.installing;

              installingWorker.onstatechange = function () {
                switch (installingWorker.state) {
                  case 'installed':
                    break;
                  case 'redundant':
                    throw new Error('The installing ' +
                      'service worker became redundant.');
                  default:
                  // Ignore
                }
              };
            }
          };
        }).catch(function (e) {
          console.error('Error during service worker registration:', e);
        });
    } else {
      console.log('service worker is not supported');
    }
  </script>
</body>

</html>